{% extends 'base.html' %}

{% block head %}
	<title>Завършена поръчка</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/completedorder.css') }}"/>
{% endblock %}


{% block body %}
	<div class="co-my-container">
		<div class="checkmark-holder"><span class="checkmark"><i class="far fa-check-circle"></i></span></div>
		<p class="successful-order">Успешна поръчка</p>
		<p class="thankyou-header">Благодарим Ви, че пазарувахте от нас!</p>
		<p class="thankyou-msg">Ще получите E-mail с допълнителна информация относно вашата поръчка. След изпращане на пратката, ще получите вторичен оповестяващ E-mail. Ако имате въпроси, можете да се свържите с <a class="contact-link" href="{{ url_for('contactpage') }}">нас</a>.</p>
	</div>
	<div class="co-container-nocolor">
		<a href="{{ url_for('home') }}"><button class="back-to-home">Към начална страница</button></a>
	</div>
{% endblock %}
