<!DOCTYPE html>
<html>
  <body>
    <style type="text/css" scoped>
      @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')
    </style>
    <table>
      <tbody>
        <tr>
          <td>
            <a style="text-decoration: none;height: 100%;outline: none;" target="_blank" href="https://www.leagueofnobles.com"><img style="height: 90px;width: auto;margin-right: 10px;" src="https://i.ibb.co/L8kPZVp/imperial-store-logo.png" alt="logo"></a>
          </td>
          <td>
            <div style="border-left: 1px solid crimson;height: 135px;"></div>
          </td>
          <td>
            <div style="margin-left: 15px;">
              <p style="font-family: 'Roboto', sans-serif;color: crimson;font-size: 13pt;font-weight: bold;margin-top: 5px;margin-bottom: 18px;">League of Nobles</p>
              <p style="font-family: 'Roboto', sans-serif;font-size: 14px;margin-bottom: 5px;margin-top: 0px;font-weight: bold;">E-mail: <span style="font-family: 'Roboto', sans-serif;font-weight: normal;text-decoration: none;">leagueofnobles.store@gmail.com</span></p>
              <p style="font-family: 'Roboto', sans-serif;font-size: 14px;margin-bottom: 5px;margin-top: 0px;font-weight: bold;">Website: <a target="_blank" href="https://www.leagueofnobles.com" style="text-decoration: none;outline: none;font-family: 'Roboto', sans-serif;font-weight: normal;color: crimson;">www.leagueofnobles.com</a></p>
              <p style="font-family: 'Roboto', sans-serif;font-size: 14px;margin-bottom: 5px;margin-top: 0px;font-weight: bold;">Mobile: <span style="font-family: 'Roboto', sans-serif;font-weight: normal;">+359 89 447 4175</span></p>
              <a target="_blank" style="display: block;font-family: 'Roboto', sans-serif;border: none;border-radius: 4px;background-color: #3b5998;color: white !important;cursor: pointer;width: 23px;height: 20px;font-size: 17px;padding: 1px 1px 1px 1px;font-weight: bold;text-align: center;text-decoration: none;outline: none;" href="https://www.facebook.com/leagueofnobles/">f</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>