{% extends 'base.html' %}

{% block head %}
<title>Общи условия</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/termsofservice.css') }}"/>
{% endblock %}

{% block body %}
	<div id="crossline">
		<span class="text-crossline">Общи условия</span>
	</div>
	<div class="container-nocolor">
		<p>Общи условия за ползване на сайта www.leagueofnobles.com и услугите предлагани на него</p>
		<p>Уебсайта www.leagueofnobles.com се притежава и управлява от <q>Лийг ъф Ноубълс</q> ООД. Настоящите Общи условия, уреждат отношенията между екипа на <q>Лийг ъф Ноубълс</q> ООД и физическите и/или юридически лица, които могат да бъдат потребители и клиенти. Екипът на <q>Лийг ъф Ноубълс</q> ООД извършва търговска дейност и предлага търговски услуги по смисъла на Търговския закон на Република България на потенциални свои клиенти, посредством интернет портала www.leagueofnobles.com</p>
		<p class="section">I. Определения</p>
		<p>1. "Потребители" са лицата ползващи уеб страницата и нейното съдържание.</p>
		<p>2. "Клиенти" са лицата, които са заявили желание и поръчали на <q>Лийг ъф Ноубълс</q> ООД да ги обслужи.</p>
		<p>3. "Уебсайт" е съдържанието, което е достъпно от домейна www.leagueofnobles.com</p>
		<p>4. Понятията <q>купуване</q>, <q>поръчване</q> и <q>заявяване</q> имат идентично тълкуване, като чрез използването им се има предвид, че клиентът по собствено желание се договаря с, и поръчва на <q>Лийг ъф Ноубълс</q> ООД индивидуална заявка за избран/и продукт/и при условията предвидeни в сайта относно начина на доставката и заплащането от страна на Потребителя.</p>
		<p>5. <q>Лийг ъф Ноубълс</q> ООД се използва по-надолу в общите условията и като <q>Изпълнителя</q>.</p>
		<p class="section">II. Приложимост</p>
		<p>1. Отношенията между Потребителите, Клиентите и екипът на <q>Лийг ъф Ноубълс</q> ООД са предмет и се регулират от настоящите Общи условия.</p>
		<p>2. С изключение на настоящите Общи условия, отношенията между изброените в предходната точка лица са предмет и на разпоредбите на Търговския закон на Република България и на българското законодателство.</p>
		<p class="section">III. Сключване</p>
		<p>1. Споразумението между Клиента и Изпълнителя се счита за сключено в момента, когато изпратения от Клиента формуляр за заявка на продукт е получен от екипа на <q>Лийг ъф Ноубълс</q> ООД</p>
		<p>2. Потребителят и Изпълнителят се съгласяват, че всички изявления помежду им във връзка със сключването и изпълнението на договора за покупко-продажба могат да бъдат извършвани по електронен път и чрез електронни изявления по смисъла на Закона за електронния документ и електронния подпис и чл. 11 от Закона за електронната търговия.</p>
		<p>3. Предполага се, че електронните изявления, извършени от Потребителя на сайта е извършено от лицето, посочено в данните, предоставени от Потребителя.</p>
		<p>4. Изпълнителят потвърждава извършената от Потребителя поръчка по електронна поща.</p>
		<p>5. При извършване на поръчката Потребителят се задължава да предостави верни и актуални данни. Потребителят се задължава при промяна своевременно да актуализира данните, посочени в поръчката си.</p>
		<p>6. Екипът на <q>Лийг ъф Ноубълс</q> ООД запазва правото си да откаже заявка на Клиент за дадена поръчка. В този случай екипът на <q>Лийг ъф Ноубълс</q> ООД не носи отговорност за отказа на заявката, а Клиента няма право на възражения от какъвто и да е род спрямо Изпълнителя.</p>
		<p>7. Промени във вече сключено споразумение ще бъдат валидни, само ако са съгласувани между Изпълнителя и Клиента в писмен или устен вид.</p>
		<p>8. Одобрената дата на доставка не е неотменим срок и може да бъде изменяна едностранно от екипа на <q>Лийг ъф Ноубълс</q> ООД, в случай на необходимост.</p>
		<p class="section">IV. Технически стъпки за сключване на договор за покупко-продажба</p>
		<p>1. Потребителите използват предимно интерфейса на страницата на Изпълнителя на адрес www.leagueofnobles.com, за да сключват договори за покупко-продажба на предлаганите от Изпълнителя стоки.</p>
		<p>2. В случаите на поръчка на стоки без да се използва интерфейса на Уебсайтa на Изпълнителя от страна на Потребителя, последният приема тези общи условия с момента на финализиране на поръчката.</p>
		<p class="section">V. Прехвърляне на собствеността и доставка</p>
		<p>1. Собствеността на стоките се прехвърля на Клиента при доставката.</p>
		<p>2. Изпълнителят си запазва собствеността върху всички стоки, доставени от него на Клиента, докато всички задължения, произтичащи от споразумението, не са изпълнени. Също така Изпълнителят запазва собствеността при изпълнение на жалби подадени от него срещу Клиента. Всички разходи, свързани с връщането на собствеността са за сметка на Клиента.</p>
		<p>3. Ако Изпълнителят има основателни съмнения относно способността на Клиента да плати, Изпълнителят има право да отложи доставката на стоки, докато Клиента не плати. Клиентът носи отговорност за вреди, причинени на Изпълнителя във връзка със забава на доставката.</p>
		<p>4. Изпълнителят не носи отговорност за забава на доставката, възникнала поради действия или бездействия на превозвача.</p>
		<p>5. По време на периода на непреодолима сила за Изпълнителя на доставката, всички задължения се считат за преустановени. Ако за периода на непреодолима сила, през който Изпълнителят не е в състояние да изпълни задълженията си за по-дълго от две седмици, двете страни имат право да развалят споразумението без юридическа намеса, без това в този случай, да е задължение за обезщетение.</p>
		<p>6. Ако в началото на непреодолима сила, Изпълнителят е вече частично изпълнил задълженията си или е само отчасти може да изпълнява задълженията си той има право отделно да фактурира на Клиента част от вече доставени и/или частта, която ще се доставя като Клиентът се задължава да заплати тази фактура, както ако тя се отнася до отделен договор.</p>
		<p>7. Срокът на доставка е до 7 /седем/ дни, считано от датата на изпращане на поръчката от Клиента .</p>
		<p>8. Доставката на стоките се извършва чрез куриер.</p>
		<p class="section">VI. Отговорност</p>
		<p>1. Изпълнителят поема отговорност за вреди, причинени виновно на Клиента, в резултат от неизпълнението на задълженията по заявената поръчка, до размера на сумата на закупените стоки.</p>
		<p>2. Отговорността по извършване на превоза на стоката се носи от превозвача. Екипът на <q>Лийг ъф Ноубълс</q> ООД не носи отговорност пред Клиента в случай на изгубване, погиване или повреждане на стоката по време на превоза, а Клиента дължи заплащане на цената на заявката.</p>
		<p>3. Изпълнителят не носи отговорност за непредоставяне на достъп до интернет-страницата, както и за необработването или ненавременното обработване на заявките за покупка, при настъпване на обстоятелства извън неговия контрол - случаи на непреодолима сила, случайни събития, проблеми в глобалната мрежа Интернет и в предоставянето на услуги извън контрола на Изпълнителя.</p>
		<p>4. Доколкото няма обективната възможност и задължение и не контролира Интернет страниците и ресурсите, станали достъпни чрез поставените в www.leagueofnobles.com и в клиентския профил на Клиента електронни препратки и рекламни банери, Изпълнителят не носи отговорност за противоправния характер на съдържанието и материалите, находящи се на тези Интернет страници и ресурси. Изпълнителят не носи отговорност за претърпени вреди и пропуснати ползи, произтекли от използването, достъпa или недостоверността на тези материали и съдържание.</p>
		<p>5. Изпълнителят не носи отговорност за начина, по който Клиентът използва уебсайта www.leaugeofnobles.com, както и възможните злоумишлени и противоправни действия, извършвани от Клиента.</p>
		<p class="section">VII. Права и задължения</p>
		<p>1. Изпълнителят се задължава:</p>
		<ul>
			<li>да достави в срок заявената за покупка стока;</li>
			<li>да полага дължимата грижа за изпълнение на своите задължения.</li>
		</ul>
		<p>2. Изпълнителят има право:</p>
		<ul>
			<li>при зареждане на уебстраницата www.leaugeofnobles.com, да инсталира върху компютрите на Клиента бисквитки (cookies) - малки текстови файлове, които се запазват от Интернет страницата чрез Интернет сървъра върху твърдия диск на Клиента и дават възможност за възстановяване на информация за Клиента, като го идентифицират и за проследяване на действията му;</li>
			<li>да поставя електронни препратки към други Интернет страници и ресурси и рекламни банери за продажба на стоки и предоставяне на услуги от трети лица, включително електронни препратки и рекламни банери, сочещи към уебсайтове, намиращи се извън контрола на Изпълнителя.</li>
			<li>да изпраща непоискани търговски съобщения до Клиента, с цел да предложи информация и реклами относно свои собствени или предлагани от други търговци стоки и/или услуги, както и да прави запитвания по най-различни въпроси, да провежда анкети и други;</li>
			<li>Изпълнителят няма задължение за осигуряване на компютърно оборудване и свързаност за пренос на информационни пакети между Клиента и Изпълнителя, необходими за осъществяване достъп до ресурсите на системата. Изпълнителят не носи отговорност, ако Клиентът не може да осъществи достъп поради проблеми извън контрола на Изпълнителя (хардуерен или софтуерен проблем, проблем с Интернет свързаност и други);</li>
			<li>Изпълнителят полага грижа информацията в интернет-страницата да се поддържа винаги вярна и актуална, но не гарантира за достоверността и пълнотата на същата;</li>
			<li>Изпълнителят не гарантира, че достъпът до интернет-страницата ще бъде непрекъсваем, навременен, сигурен и свободен от грешки, доколкото това е извън възможностите, контрола и волята на Изпълнителя;</li>
			<li>Изпълнителят има право да променя стойността на предлаганата от него услуга във всеки един момент.</li>
		</ul>
		<p>3. Клиентът се задължава:</p>
		<ul>
			<li>да посочи точен и валиден телефон, адрес за доставка и електронен пощенски адрес за кореспонденция;</li>
			<li>да плати цената на заявената от него стока в сроковете и по начина, предвидени в тези Общи условия;</li>
			<li>да получи стоката или да осигури трето лице, което да получи стоката в сроковете за доставка на посочения от него адрес от негово име и за негова сметка;</li>
			<li>да не подава фиктивни или невалидни заявки или друга невярна информация;</li>
			<li>при ползване на уебсайта www.leaugeofnobles.com да не извършва злоумишлени действия, както и всякакви други действия, които нарушават българското законодателство;</li>
			<li>с приемането на настоящите Общи условия, Клиентът се съгласява да получава непоискани търговски съобщения от Изпълнителя;</li>
			<li>да не извлича чрез технически средства или по технически начин информационни ресурси или части от информационни ресурси, принадлежащи към базите данни, разположени в www.leagueofnobles.com и по този начин да не създава собствена база данни в електронен или друг вид;</li>
			<li>да не се представя за друго лице или представител на юридическо лице или група хора, които не е оправомощен да представлява, или по друг начин да заблуждава трети лица относно самоличността си или принадлежността си към определена група лица;</li>
		</ul>
		<p>4. Клиентът има право да получи заявената от него стока при условията и в сроковете съгласно настоящите Общи условия.</p>
		<p class="section">VIII. Цена и плащане</p>
		<p>1. Договорената цена включва ДДС и всякакви други такси, с изключение на цената на доставка на използвания куриер.</p>
		<p>2. Заплащането се извършва чрез наложен платеж.</p>
		<p class="section">IX. Неизпълнение</p>
		<p>1. Ако Клиентът не изпълнява задълженията си, произтичащи от договора, нито пък взима мерки по изпратено писмо за неизпълнение на задълженията със срок от една седмица, Изпълнителят има право да развали споразумението без юридическа намеса. В този случай Клиентът е отговорен за претърпените вреди на Изпълнителя. Задължение за плащане, свързано с вече извършена работа или направена доставка, остават непроменени.</p>
		<p>2. Ако Изпълнителят предприеме юридически действия, в резултат на неизпълнение на задълженията на Клиента, то разноските свързани с юридическите действия следва да се заплатят от клиента.</p>
		<p class="section">X. Защита на личните данни</p>
		<p>1. Изпълнителят предприема мерки за защита на личните данни на Потребителя съгласно Закона за защита на личните данни.</p>
		<p>2. От съображения за сигурност на личните данни на Потребителите, Изпълнителят ще изпрати данните само на e-mail адрес, който е бил посочен от Потребителите.</p>
		<p>3. Изпълнителят има право да съхранява данни на Потребителя, освен ако последният изрично изрази несъгласието си за това.</p>
		<p>4. Потребителят се съгласява, че Изпълнителят има право да изпраща по всяко време електронни съобщения към Потребителя, включително и бюлетин или предложения за покупка на стоки.</p>
		<p>5. Потребителят се съгласява, че Изпълнителят има право да събира, съхранява и обработва данни за поведението на Потребителя при използването на електронния магазин на адрес www.leagueofnobles.com.</p>
		<p class="section">XI. Изменение и достъп до общите условия</p>
		<p>1. Настоящите общи условия могат да бъдат изменяни от Изпълнителят, за което той ще уведоми по подходящ начин всички Потребители.</p>
		<p>2. Изпълнителят и Потребителят се съгласяват, че всяко допълване и изменение на тези общи условия ще има действие спрямо Потребителя в един от следните случаи:</p>
		<ul>
			<li>след изричното му уведомяване от Изпълнителя и ако Потребителят не заяви в предоставения му 14-дневен срок, че ги отхвърля;</li>
			<li>след публикуването им на сайта на Изпълнителя на адрес www.leagueofnobles.com/termsofservice/ и ако Потребителят не заяви в 14-дневен срок от публикуването им, че ги отхвърля;</li>
		</ul>
		<p>3. Потребителят се съгласява, че всички изявления на Изпълнителят, във връзка с изменението на тези общи условия ще бъдат изпращани на адреса на електронната поща, посочена от Потребителят. Потребителят се съгласява, че електронните писма, изпратени по реда на този член не е необходимо да бъдат подписани с електронен подпис, за да имат действие спрямо него.</p>
		<p>4. Изпълнителят публикува тези общи условия на адресhttps://www.leagueofnobles.com/termsofservice/заедно с всички допълнения и изменения в тях.</p>
		<p class="section">XII. Прекратяване</p>
		<p>1. Настоящите общи условия и договора на Потребителя с Изпълнителя се прекратяват в следните случаи:</p>
		<ul>
			<li>при желание Потребителят има право да се откаже от сключения договор на основание чл. 55, ал.1, т.1 от ЗЗП.</li>
			<li>при прекратяване и обявяване в ликвидация или обявяване в несъстоятелност на една от страните по договора;</li>
			<li>при обективна невъзможност на някоя от страните по договора да изпълнява задълженията си;</li>
			<li>при изземване или запечатване на оборудването от държавни органи;</li>
		</ul>
		<p>2. При упражняване на правото си на отказ Потребителят е длъжен да възстанови на Изпълнителят стойността на куриерската услуга.</p>
		<p>3. Изпълнителят има право по свое усмотрение, без да отправя предизвестие и без да дължи обезщетение да прекрати едностранно договора, в случай че установи, че Потребителят използва Уебсайта www.leagueofnobles.com в нарушение на настоящите общи условия, законодателството в Република България, общоприетите нравствени норми или общоприетите правила и практика в електронната търговия.</p>
		<p class="section">XIII. Други условия</p>
		<p>1. Потребителят носи отговорност за достоверността на попълнената информация.</p>
		<p>2. Потребителят и Изпълнителят се задължават да защитават взаимно своите права и законни интереси, както и да пазят търговските си тайни, станали тяхно достояние в процеса на изпълнение договора и тези общи условия.</p>
		<p>3. Потребителят и Изпълнителят се задължават по време и след изтичане на периода на договора да не правят публично достояние писмена или устна кореспонденция проведена между тях. За публично достояние може да се смята публикуването на кореспонденция в печатни и електронни медии, интернет форуми, лични или публични уеб сайтове и др.</p>
		<p>4. Евентуалната недействителност на някоя от разпоредбите на тези общи условия няма да води до недействителност на целия договор.</p>
		<p>5. За неуредените в този договор въпроси, свързани с изпълнението и тълкуването на този договор, се прилагат законите на Република България.</p>
		<p class="section">XIV. Спорове</p>
		<p>1. В отклонение от законовите правила за органите на компетентният съд, всички спорове между страните, където съдът е компетентен, ще се решават в Софийски Градски Съд, съгласно разпоредбите на българското законодателство.</p>
		<p class="section">XV. Контакти</p>
		<p>1. За контакти с екипа на <q>Лийг ъф Ноубълс</q> ООД, Клиентите и Потребителите могат да се свържат на електронна поща leagueofnobles.store@gmail.com или на телефон +359 89447 4175</p>
	</div>
{% endblock %}